.input{
    outline: none;
    padding:5px;
    border-radius:4px;
    border:1px solid rgb(231, 226, 226);
    width:100%;
}
.select{
    background-color:white;
    padding:8px;
}
.pointer{
    cursor: pointer;
}
